<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/index.css">
</head>
<body>
    
    <div class="video-background">
        <video autoplay muted loop playsinline >
            <source src="./../static/856953-hd_2048_1080_25fps.mp4" type="video/mp4">
            <source src="your-video.webm" type="video/webm">
            <!-- Add other formats if necessary for cross-browser compatibility -->
        </video>
    </div>

    <div id="main">
        <header>
            <div class="logo">ProDev</div>
            <div class="services">Services</div>
            <div class="contact">Contact</div>
            <div class="research">Research</div>
            <div class="Poject">Project</div>
        </header>





     <div id="hero_section">
                <div class="hero_section_partone"></div>
                <div class="hero_section_parttwo">
                    <div class="hero_section_text1">Delivering Superior Services </div>
                    <div class="hero_section_text2">IT Solutions. </div>
                    <div class="hero_section_text3">We create softwares </div>
                </div>
     </div>
    </div> <!--main ends here -->


     
    
</body>
</html>